<table>
  <thead>
    <tr>
      <th>Icône</th>
      <th>Nom</th>
      <th>Tagline</th>
      <th>Division</th>
      <th>Points</th>
      <th>Victoires</th>
      <th>Défaites</th>
      <th>Winrate</th>
      <th>Historique des matchs</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let friend of pezzosData">
      <td>
        <img
          [src]="'https://ddragon.leagueoflegends.com/cdn/15.2.1/img/profileicon/' + friend.profileIconId + '.png'"
          alt="Profile Icon"
          class="profile-icon"
        />
      </td>
      <td>
        <a *ngIf="friend.opggUrl" [href]="friend.opggUrl" target="_blank" rel="noopener noreferrer">
          {{ friend.gameName }}
        </a>
        <span *ngIf="!friend.opggUrl">
          {{ friend.gameName }}
        </span>
      </td>
      <td>{{ friend.tagLine }}</td>
      <td>
        <div *ngIf="friend.rankData && friend.rankData.length > 0">
          <img
            *ngIf="friend.rankData[0]?.tier"
            [src]="'assets/Rank=' + (friend.rankData[0]?.tier | titlecase) + '.png'"
            alt="Rank Icon"
            class="rank-icon"
          />
          <p></p>
          <span>{{ friend.rankData[0]?.tier || 'N/A' }} {{ friend.rankData[0]?.rank || '' }}</span>
        </div>
        <span *ngIf="!friend.rankData || friend.rankData.length === 0">N/A</span>
      </td>
      <td>{{ friend.rankData?.[0]?.leaguePoints || 'N/A' }}</td>
      <td>{{ friend.rankData?.[0]?.wins || 'N/A' }}</td>
      <td>{{ friend.rankData?.[0]?.losses || 'N/A' }}</td>
      <td>
        <div class="winrate-bar-container">
            <div
                class="winrate-bar"
                [ngClass]="{
                    'green': getWinrateColor(friend.rankData[0]?.wins, friend.rankData[0]?.losses) === 'green',
                    'orange': getWinrateColor(friend.rankData[0]?.wins, friend.rankData[0]?.losses) === 'orange',
                    'red': getWinrateColor(friend.rankData[0]?.wins, friend.rankData[0]?.losses) === 'red'
                }"
                [style.width]="getWinratePercentage(friend.rankData[0]?.wins, friend.rankData[0]?.losses) + '%'"
            ></div>
        </div>
        <span>{{ getWinratePercentage(friend.rankData[0]?.wins, friend.rankData[0]?.losses) | number:'1.0-2' }}%</span>
      </td>
      <td>
        <ul *ngIf="friend.matchHistory && friend.matchHistory.length > 0">
          <li
            *ngFor="let match of friend.matchHistory"
            [ngClass]="{ 'win': match.playerWon, 'loss': !match.playerWon }"
          >
            {{ match.queueType }} - {{ match.info.gameCreation | date }}
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
