/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background-image: url('assets/Noxus_LoR_Background.jpg');
  background-size: cover; /* Pour couvrir tout l'écran */
  background-position: center; /* Centrer l'image */
  color: #333;
}
